.DS_Store

__pycache__/
*.pyc
*.sw*
*/workerlog*
checkpoints/
output*/
pretrained/
.ipynb_checkpoints/
*.ipynb*
_build/
build/
log/
nohup.out
.idea

*.pdparams
Debug/
.vs/
.vscode
.env
.venv
.swp
dist
ollama
ggml-metal.metal
.cache
*.exe

test_data
*.crt
llm/build
__debug_bin*